In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('customer_churn_prediction_dataset.csv')

In [3]:
# Only show 5 Rows for easy understanding
dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0001-XXXX,Male,0,Yes,Yes,5,No,Yes,No,No,...,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,0002-XXXX,Female,0,No,No,42,Yes,No phone service,DSL,Yes,...,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,0003-XXXX,Male,0,No,No,61,Yes,No phone service,No,No,...,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,0004-XXXX,Male,1,No,Yes,22,Yes,No,No,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,0005-XXXX,Male,1,Yes,Yes,21,No,No,DSL,No,...,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0296-XXXX,Female,1,No,Yes,61,No,Yes,DSL,No,...,Yes,No internet service,No,No,One year,Yes,Electronic check,42.52,2593.72,No
296,0297-XXXX,Female,0,No,No,49,Yes,No phone service,DSL,No internet service,...,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,22.31,1093.19,Yes
297,0298-XXXX,Male,0,No,Yes,71,Yes,Yes,DSL,No internet service,...,Yes,Yes,No,Yes,Two year,No,Mailed check,59.57,4229.47,Yes
298,0299-XXXX,Male,1,Yes,Yes,1,Yes,Yes,No,Yes,...,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,31.32,31.32,No
299,0300-XXXX,Female,1,Yes,Yes,13,Yes,Yes,DSL,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,20.50,266.50,Yes

In [4]:
# To Check Balance or Imbalance Dataset
dataset["Churn"].value_counts()

Churn
No     161
Yes    139
Name: count, dtype: int64

In [5]:
# Information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        300 non-null    object
 1   gender            300 non-null    object
 2   SeniorCitizen     300 non-null    int64
 3   Partner           300 non-null    object
 4   Dependents        300 non-null    object
 5   tenure            300 non-null    int64
 6   PhoneService      300 non-null    object
 7   MultipleLines     300 non-null    object
 8   InternetService   300 non-null    object
 9   OnlineSecurity    300 non-null    object
 10  OnlineBackup      300 non-null    object
 11  DeviceProtection  300 non-null    object
 12  TechSupport       300 non-null    object
 13  StreamingTV       300 non-null    object
 14  StreamingMovies   300 non-null    object
 15  Contract          300 non-null    object
 16  PaperlessBilling  300 non-null    object
 17  PaymentMethod     300 non-null    object
 18  MonthlyCharges    300 non-null    float64
 19  TotalCharges      300 non-null    float64
 20  Churn             300 non-null    object
dtypes: float64(2), int64(2), object(17)
memory usage: 49.3+ KB

In [6]:
# Check for null & nun values
#dataset.isna().sum() both are same code
dataset.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
# Data Type
dataset.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [8]:
dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0001-XXXX,Male,0,Yes,Yes,5,No,Yes,No,No,...,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,0002-XXXX,Female,0,No,No,42,Yes,No phone service,DSL,Yes,...,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,0003-XXXX,Male,0,No,No,61,Yes,No phone service,No,No,...,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,0004-XXXX,Male,1,No,Yes,22,Yes,No,No,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,0005-XXXX,Male,1,Yes,Yes,21,No,No,DSL,No,...,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0296-XXXX,Female,1,No,Yes,61,No,Yes,DSL,No,...,Yes,No internet service,No,No,One year,Yes,Electronic check,42.52,2593.72,No
296,0297-XXXX,Female,0,No,No,49,Yes,No phone service,DSL,No internet service,...,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,22.31,1093.19,Yes
297,0298-XXXX,Male,0,No,Yes,71,Yes,Yes,DSL,No internet service,...,Yes,Yes,No,Yes,Two year,No,Mailed check,59.57,4229.47,Yes
298,0299-XXXX,Male,1,Yes,Yes,1,Yes,Yes,No,Yes,...,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,31.32,31.32,No
299,0300-XXXX,Female,1,Yes,Yes,13,Yes,Yes,DSL,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,20.50,266.50,Yes

In [9]:
# Split quan and qual values
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
       # print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
           # print("quan")
            quan.append(columnName)
    return quan,qual

In [10]:
quanQual(dataset)

(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges'],
 ['customerID',
  'gender',
  'Partner',
  'Dependents',
  'PhoneService',
  'MultipleLines',
  'InternetService',
  'OnlineSecurity',
  'OnlineBackup',
  'DeviceProtection',
  'TechSupport',
  'StreamingTV',
  'StreamingMovies',
  'Contract',
  'PaperlessBilling',
  'PaymentMethod',
  'Churn'])

In [11]:
quan,qual=quanQual (dataset)

In [12]:
quan

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [13]:
qual

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [14]:
# Inbuild Function
dataset.describe()

       SeniorCitizen      tenure  MonthlyCharges  TotalCharges
count     300.000000  300.000000      300.000000    300.000000
mean        0.543333   35.783333       67.226800   2477.975767
std         0.498951   21.113400       28.638073   1918.540111
min         0.000000    1.000000       18.450000     30.030000
25%         0.000000   17.000000       42.337500    910.302500
50%         1.000000   36.000000       68.635000   2072.400000
75%         1.000000   53.250000       92.430000   3618.405000
max         1.000000   72.000000      118.640000   8318.880000

In [15]:
# For check these all
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99","Q4:100%","IQR",
                               "1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
for coulmnName in quan:
    descriptive[coulmnName]["Mean"]=dataset[coulmnName].mean()
    descriptive[coulmnName]["Median"]=dataset[coulmnName].median()
    descriptive[coulmnName]["Mode"]=dataset[coulmnName].mode()[0]
    descriptive[coulmnName]["Q1:25%"]=dataset.describe()[coulmnName]["25%"]
    descriptive[coulmnName]["Q2:50%"]=dataset.describe()[coulmnName]["50%"]
    descriptive[coulmnName]["Q3:75%"]=dataset.describe()[coulmnName]["75%"]
    descriptive[coulmnName]["99"]=np.percentile(dataset[coulmnName],99)
    descriptive[coulmnName]["Q4:100%"]=dataset.describe()[coulmnName]["max"]
    descriptive[coulmnName]["IQR"]= descriptive[coulmnName]["Q3:75%"]-descriptive[coulmnName]["Q1:25%"]
    descriptive[coulmnName]["1.5Rule"]=1.5*descriptive[coulmnName]["IQR"]
    descriptive[coulmnName]["Lesser"]=descriptive[coulmnName]["Q1:25%"]-descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Greater"]=descriptive[coulmnName]["Q3:75%"]+ descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Min"]=dataset[coulmnName].min()
    descriptive[coulmnName]["Max"]=dataset[coulmnName].max()

In [16]:
descriptive

        SeniorCitizen     tenure MonthlyCharges TotalCharges
Mean         0.543333  35.783333        67.2268  2477.975767
Median            1.0       36.0         68.635       2072.4
Mode                1         26          42.52       2154.8
Q1:25%            0.0       17.0        42.3375     910.3025
Q2:50%            1.0       36.0         68.635       2072.4
Q3:75%            1.0      53.25          92.43     3618.405
99                1.0       72.0       118.3611    7469.4231
Q4:100%           1.0       72.0         118.64      8318.88
IQR               1.0      36.25        50.0925    2708.1025
1.5Rule           1.5     54.375       75.13875   4062.15375
Lesser           -1.5    -37.375      -32.80125  -3151.85125
Greater           2.5    107.625      167.56875   7680.55875
Min                 0          1          18.45        30.03
Max                 1         72         118.64      8318.88

In [17]:
# Check Outliers values
def outliear_check(quan, descriptive):
    Lesser = []
    Greater = []
    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            Lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            Greater.append(columnName)
    return Lesser, Greater

In [18]:
Lesser,Greater=  outliear_check(quan, descriptive)

In [19]:
Lesser

[]

In [20]:
Greater

['TotalCharges']

In [21]:
# Replace the Outliers (Model 2)
for columnName in Lesser:
        dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in Greater:
        dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

C:\Users\anandha rishi\AppData\Local\Temp\ipykernel_13156\3764343087.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [22]:
# For check these all
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99","Q4:100%","IQR",
                               "1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
for coulmnName in quan:
    descriptive[coulmnName]["Mean"]=dataset[coulmnName].mean()
    descriptive[coulmnName]["Median"]=dataset[coulmnName].median()
    descriptive[coulmnName]["Mode"]=dataset[coulmnName].mode()[0]
    descriptive[coulmnName]["Q1:25%"]=dataset.describe()[coulmnName]["25%"]
    descriptive[coulmnName]["Q2:50%"]=dataset.describe()[coulmnName]["50%"]
    descriptive[coulmnName]["Q3:75%"]=dataset.describe()[coulmnName]["75%"]
    descriptive[coulmnName]["99"]=np.percentile(dataset[coulmnName],99)
    descriptive[coulmnName]["Q4:100%"]=dataset.describe()[coulmnName]["max"]
    descriptive[coulmnName]["IQR"]= descriptive[coulmnName]["Q3:75%"]-descriptive[coulmnName]["Q1:25%"]
    descriptive[coulmnName]["1.5Rule"]=1.5*descriptive[coulmnName]["IQR"]
    descriptive[coulmnName]["Lesser"]=descriptive[coulmnName]["Q1:25%"]-descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Greater"]=descriptive[coulmnName]["Q3:75%"]+ descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Min"]=dataset[coulmnName].min()
    descriptive[coulmnName]["Max"]=dataset[coulmnName].max()

In [23]:
descriptive

        SeniorCitizen     tenure MonthlyCharges TotalCharges
Mean         0.543333  35.783333        67.2268  2473.449621
Median            1.0       36.0         68.635       2072.4
Mode                1         26          42.52   7680.55875
Q1:25%            0.0       17.0        42.3375     910.3025
Q2:50%            1.0       36.0         68.635       2072.4
Q3:75%            1.0      53.25          92.43     3618.405
99                1.0       72.0       118.3611  7468.274287
Q4:100%           1.0       72.0         118.64   7680.55875
IQR               1.0      36.25        50.0925    2708.1025
1.5Rule           1.5     54.375       75.13875   4062.15375
Lesser           -1.5    -37.375      -32.80125  -3151.85125
Greater           2.5    107.625      167.56875   7680.55875
Min                 0          1          18.45        30.03
Max                 1         72         118.64   7680.55875

In [24]:
# Replace after again check outliers values
def outliear_check(quan, descriptive):
    Lesser = []
    Greater = []
    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            Lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            Greater.append(columnName)
    return Lesser, Greater

In [25]:
Lesser,Greater=  outliear_check(quan, descriptive)

In [26]:
Lesser

[]

In [27]:
Greater

[]

In [28]:

df = pd.DataFrame(dataset,columns = quan)

In [29]:
df

     SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0                0       5           27.43        137.15
1                0      42           38.28       1607.76
2                0      61          106.44       6492.84
3                1      22           92.49       2034.78
4                1      21           19.63        412.23
..             ...     ...             ...           ...
295              1      61           42.52       2593.72
296              0      49           22.31       1093.19
297              0      71           59.57       4229.47
298              1       1           31.32         31.32
299              1      13           20.50        266.50

[300 rows x 4 columns]

In [30]:

dff = pd.DataFrame(dataset,columns = qual)

In [31]:
dff

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0001-XXXX,Male,Yes,Yes,No,Yes,No,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,Yes
1,0002-XXXX,Female,No,No,Yes,No phone service,DSL,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,Yes
2,0003-XXXX,Male,No,No,Yes,No phone service,No,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,Yes
3,0004-XXXX,Male,No,Yes,Yes,No,No,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,No
4,0005-XXXX,Male,Yes,Yes,No,No,DSL,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0296-XXXX,Female,No,Yes,No,Yes,DSL,No,No internet service,Yes,No internet service,No,No,One year,Yes,Electronic check,No
296,0297-XXXX,Female,No,No,Yes,No phone service,DSL,No internet service,No,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,Yes
297,0298-XXXX,Male,No,Yes,Yes,Yes,DSL,No internet service,No,Yes,Yes,No,Yes,Two year,No,Mailed check,Yes
298,0299-XXXX,Male,Yes,Yes,Yes,Yes,No,Yes,No internet service,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,No
299,0300-XXXX,Female,Yes,Yes,Yes,Yes,DSL,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,Yes

In [32]:
# seperated two dataset merge 
two=[df,dff]

In [33]:
#merge two files
preprocessed=pd.concat(two,axis=1)

In [34]:
preprocessed

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,...,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0,5,27.43,137.15,0001-XXXX,Male,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,Yes
1,0,42,38.28,1607.76,0002-XXXX,Female,No,No,Yes,No phone service,...,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,Yes
2,0,61,106.44,6492.84,0003-XXXX,Male,No,No,Yes,No phone service,...,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,Yes
3,1,22,92.49,2034.78,0004-XXXX,Male,No,Yes,Yes,No,...,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,No
4,1,21,19.63,412.23,0005-XXXX,Male,Yes,Yes,No,No,...,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,0296-XXXX,Female,No,Yes,No,Yes,...,No,No internet service,Yes,No internet service,No,No,One year,Yes,Electronic check,No
296,0,49,22.31,1093.19,0297-XXXX,Female,No,No,Yes,No phone service,...,No internet service,No,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,Yes
297,0,71,59.57,4229.47,0298-XXXX,Male,No,Yes,Yes,Yes,...,No internet service,No,Yes,Yes,No,Yes,Two year,No,Mailed check,Yes
298,1,1,31.32,31.32,0299-XXXX,Male,Yes,Yes,Yes,Yes,...,Yes,No internet service,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,No
299,1,13,20.50,266.50,0300-XXXX,Female,Yes,Yes,Yes,Yes,...,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,Yes

In [35]:
# File save format
preprocessed.to_csv("churn_preprocess_data.csv",index=False)

#Reading the Dataset#
dataset=pd.read_csv('churn_preprocess_data.csv')

dataset.head()

#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True )

dataset.head()

#catogorical data convert to numerical data# 
dataset=dataset.astype(int)

dataset.head()

dataset["Churn_Yes"].value_counts()

#show all columns in dataset#
dataset.columns

#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'Bank transfer_Yes', 'Credit card_Yes', 'Electronic check_Yes',
       'Mailed check_Yes', 'Month-to-month_Yes', 'One year_Yes',
       'Two year_Yes', 'gender_Male', 'Partner_Yes', 'Dependents_Yes',
       'PhoneService_Yes', 'MultipleLines_Yes', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_Yes', 'OnlineBackup_Yes',
       'DeviceProtection_Yes', 'TechSupport_Yes', 'StreamingTV_Yes',
       'StreamingMovies_Yes', 'PaperlessBilling_Yes']]

independent

#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Churn_Yes']]

dependent

#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

X_train

#Standard Scalar Only Input
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

X_train