In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('churn_preprocess_data.csv')

In [3]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0,5,27.43,137.15,Male,Yes,Yes,No,Yes,No,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,Yes
1,0,42,38.28,1607.76,Female,No,No,Yes,No phone service,DSL,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,Yes
2,0,61,106.44,6492.84,Male,No,No,Yes,No phone service,No,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,Yes
3,1,22,92.49,2034.78,Male,No,Yes,Yes,No,No,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,No
4,1,21,19.63,412.23,Male,Yes,Yes,No,No,DSL,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,Female,No,Yes,No,Yes,DSL,No,No internet service,Yes,No internet service,No,No,One year,Yes,Electronic check,No
296,0,49,22.31,1093.19,Female,No,No,Yes,No phone service,DSL,No internet service,No,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,Yes
297,0,71,59.57,4229.47,Male,No,Yes,Yes,Yes,DSL,No internet service,No,Yes,Yes,No,Yes,Two year,No,Mailed check,Yes
298,1,1,31.32,31.32,Male,Yes,Yes,Yes,Yes,No,Yes,No internet service,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,No
299,1,13,20.50,266.50,Female,Yes,Yes,Yes,Yes,DSL,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,Yes

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,5,27.43,137.15,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
1,0,42,38.28,1607.76,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
2,0,61,106.44,6492.84,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,22,92.49,2034.78,1,0,1,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,21,19.63,412.23,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,0,0,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0
296,0,49,22.31,1093.19,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,1
297,0,71,59.57,4229.47,1,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1
298,1,1,31.32,31.32,1,1,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
299,1,13,20.50,266.50,0,1,1,1,0,1,...,0,0,1,0,0,0,0,1,0,1

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,5,27,137,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
1,0,42,38,1607,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
2,0,61,106,6492,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,22,92,2034,1,0,1,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,21,19,412,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0
296,0,49,22,1093,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,1
297,0,71,59,4229,1,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1
298,1,1,31,31,1,1,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
299,1,13,20,266,0,1,1,1,0,1,...,0,0,1,0,0,0,0,1,0,1

In [8]:
dataset["Churn_Yes"].value_counts()

0    161
1    139
Name: Churn_Yes, dtype: int64

In [9]:
#show all columns in dataset#
dataset.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit card', 'PaymentMethod_Electronic check',
       'PaymentMethod_Mailed check', 'Churn_Yes'],
      dtype='object')

In [10]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit card', 'PaymentMethod_Electronic check',
       'PaymentMethod_Mailed check']]

In [11]:
#what saved in this file#
independent

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,5,27,137,1,1,1,0,0,1,...,0,0,1,0,0,0,1,1,0,0
1,0,42,38,1607,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,0
2,0,61,106,6492,1,0,0,1,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,22,92,2034,1,0,1,1,0,0,...,1,0,0,1,0,0,0,0,1,0
4,1,21,19,412,1,1,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,1,0
296,0,49,22,1093,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
297,0,71,59,4229,1,0,1,1,0,1,...,0,0,0,1,0,1,0,0,0,1
298,1,1,31,31,1,1,1,1,0,1,...,0,1,0,1,0,1,0,1,0,0
299,1,13,20,266,0,1,1,1,0,1,...,1,0,0,1,0,0,0,0,1,0

In [12]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Churn_Yes']]

In [13]:
#what saved in this file#
dependent

     Churn_Yes
0            1
1            1
2            1
3            0
4            1
..         ...
295          0
296          1
297          1
298          0
299          1

[300 rows x 1 columns]

In [14]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
#Model creation#
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble  import RandomForestClassifier
param_grid = {
    'n_estimators': [100, 200, 500],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2'],
    'bootstrap': [True, False]}
    
grid=GridSearchCV(RandomForestClassifier(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 486 candidates, totalling 2430 fits

C:\Users\anandha rishi\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'max_depth': [10, 20, None],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 500]},
             scoring='f1_weighted', verbose=3)

In [17]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [18]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'bootstrap': True, 'max_depth': 20, 'max_features': 'auto', 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 100}: 0.4818805337323855

In [19]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[26 27]
 [20 17]]

In [20]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.57      0.49      0.53        53
           1       0.39      0.46      0.42        37

    accuracy                           0.48        90
   macro avg       0.48      0.48      0.47        90
weighted avg       0.49      0.48      0.48        90

In [21]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.46200917899031113

In [22]:
table=pd.DataFrame.from_dict(re)

In [23]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_bootstrap,param_max_depth,param_max_features,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.420843,0.040981,0.020803,0.003920,True,10,auto,1,2,100,"{'bootstrap': True, 'max_depth': 10, 'max_feat...",0.473810,0.594546,0.420726,0.545299,0.522727,0.511422,0.059709,283
1,0.753684,0.011759,0.032003,0.000001,True,10,auto,1,2,200,"{'bootstrap': True, 'max_depth': 10, 'max_feat...",0.399674,0.619048,0.447700,0.497436,0.618182,0.516408,0.088995,237
2,1.893012,0.008160,0.072008,0.011314,True,10,auto,1,2,500,"{'bootstrap': True, 'max_depth': 10, 'max_feat...",0.405100,0.619048,0.382896,0.641026,0.619048,0.533423,0.114339,81
3,0.361642,0.053885,0.017610,0.003197,True,10,auto,1,5,100,"{'bootstrap': True, 'max_depth': 10, 'max_feat...",0.523810,0.619048,0.468999,0.583673,0.589419,0.556990,0.053774,6
4,0.696072,0.037193,0.033604,0.003199,True,10,auto,1,5,200,"{'bootstrap': True, 'max_depth': 10, 'max_feat...",0.521645,0.643060,0.420726,0.615561,0.570455,0.554289,0.078486,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,0.571262,0.038736,0.033605,0.003200,False,None,log2,4,5,200,"{'bootstrap': False, 'max_depth': None, 'max_f...",0.428571,0.619048,0.363757,0.465278,0.571429,0.489616,0.093387,454
482,1.467363,0.029765,0.073610,0.003201,False,None,log2,4,5,500,"{'bootstrap': False, 'max_depth': None, 'max_f...",0.452692,0.595468,0.363757,0.519451,0.547362,0.495746,0.080555,423
483,0.288032,0.008766,0.020803,0.003920,False,None,log2,4,10,100,"{'bootstrap': False, 'max_depth': None, 'max_f...",0.380952,0.619048,0.447700,0.471396,0.519451,0.487709,0.079399,459
484,0.553659,0.007841,0.030406,0.003200,False,None,log2,4,10,200,"{'bootstrap': False, 'max_depth': None, 'max_f...",0.500284,0.642247,0.420726,0.471396,0.522727,0.511476,0.073749,282
485,1.350551,0.106071,0.065607,0.005987,False,None,log2,4,10,500,"{'bootstrap': False, 'max_depth': None, 'max_f...",0.476190,0.594546,0.420726,0.492812,0.571429,0.511141,0.063755,292

In [24]:
import pickle
filename="finalized_model_gnb.sav"

In [25]:
#pickle.dump(regressor,open(filename,'wb'))
pickle.dump(grid.best_estimator_, open(filename, 'wb'))

In [27]:
preinput=sc.transform([[1300,1200,4000,0,1,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,1,0,0,]])

In [28]:
preinput

array([[ 2.60003288e+03,  5.72081465e+01,  1.35742951e+02,
        -1.34412086e+00,  9.90521113e-01, -1.10023921e+00,
         9.17662935e-01, -1.06904497e+00,  1.44507276e+00,
         1.42950280e+00,  1.34164079e+00, -6.77003200e-01,
        -6.69534063e-01, -6.77003200e-01, -5.88348405e-01,
         1.34164079e+00, -6.99543924e-01, -8.00390530e-01,
        -7.07106781e-01, -7.68706115e-01,  1.51038075e+00,
        -6.47239460e-01,  1.39919494e+00, -6.69534063e-01,
         1.44507276e+00,  1.58113883e+00,  8.82984154e-01,
         1.67874412e+00, -5.95683397e-01, -5.44331054e-01]])

In [29]:
#load the saved model and gets input# 
loaded_model=pickle.load(open("finalized_model_gnb.sav",'rb'))
result=loaded_model.predict(preinput)

In [30]:
#prediction value#
result

array([1])